.filterSection {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h1 {
    font-weight: normal;
  }

  input {
    height: 100%;
    width: 400px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border-width: 0 0 2px;
    border-color: white;
    margin-right: 10px;
    background-color: inherit;
    color: white;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer !important;
    border-radius: 50%;
    border: 1px solid white;
    height: 15px;
    width: 15px;
    background-image: url("../assets/close.svg");
  }
}
