.moviesSection {
  .moviesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
  }
  .movieCard {
    width: 200px;
    margin: 0;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    .movieTitle {
      bottom: 0;
      margin: 0.5rem;
      min-height: 50px;
      p {
        margin: 0 0 5px;
      }
    }
    .moviePoster {
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
    .mainGenre {
      color: grey;
    }
  }
}

.noResults > p {
  margin: 3rem 0;
  font-size: 24px;
  text-align: center;
  span {
    font-style: italic;
    color: #5d7eb9;
  }
}

.movieDetails {
  display: flex;
  flex-direction: row;
  gap: 25px;
  .releaseAndImdbContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 15px 0;
    .imdbLink {
      cursor: pointer;
    }
  }
  .moviePoster {
    height: 100%;
  }
  .movieData {
    .overview {
      margin-bottom: 25px;
    }
    p {
      margin: 10px 0;
    }
  }
  .genreList {
    display: inline;
    list-style: none;
    padding: 0px;
    &::before {
      content: "Genres: ";
    }
    li {
      display: inline;
      &:not(:last-child)::after {
        content: ", ";
      }
    }
  }
  .loaderBox {
    margin: auto;
  }
}
