#root {
  padding: 1rem 5rem;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0b1018;
  color: white;
  font-family: sans-serif;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: #202124cc !important;
}

.modalHeader {
  position: relative;
  min-height: 30px;
  .closeBtn {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 24px;
  }
}

.loaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
