#root {
  padding: 1rem 5rem;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0b1018;
  color: white;
  font-family: sans-serif;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: #202124cc !important;
}

.modalHeader {
  position: relative;
  min-height: 30px;
  .closeBtn {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 24px;
  }
}

.loaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #0580b7;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(73, 69, 69);
}

@media (max-width: 1199px) {
}

@media (max-width: 999px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 600px !important;
  }
  .appHeader {
    text-align: center;
  }
}

@media (max-width: 450px) {
  #root {
    padding: 1rem;
  }
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 330px !important;
  }
  .movieDetails {
    flex-direction: column !important;
    .moviePoster {
      width: 180px;
    }
  }
  .pagination {
    .pageItem,
    .pageItemDisabled {
      padding: 5px 10px !important;
    }
  }
  .moviesContainer {
    justify-content: center !important;
    .movieCard {
      width: 150px !important;
    }
  }
  .filterSection input {
    width: 180px !important;
  }
}
